<div id="server-log-panel" class="slds-utility-panel slds-grid slds-grid_vertical slds-is-closed" role="dialog" aria-labelledby="panel-heading-01">
    <div class="slds-utility-panel__header slds-grid slds-shrink-none">
        <div class="slds-media slds-media_center">
            <div class="slds-media__figure slds-m-right_x-small">
                <span class="slds-icon_container">
                    <svg class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#toggle_panel_bottom"></use>
                    </svg>
                </span>
            </div>
            <div class="slds-media__body">
                <h2 id="panel-heading-01">Server Log</h2>
            </div>
        </div>
        <div class="slds-col_bump-left slds-shrink-none">
            <button onclick="toggleServerInfo()" class="slds-button slds-button_icon slds-button_icon" title="Close Panel">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#minimize_window"></use>
                </svg>
                <span class="slds-assistive-text">Close Panel</span>
            </button>
        </div>
    </div>
    <div class="slds-utility-panel__body slds-scrollable">
        <pre id="buffer998052188">ccorwin</pre>
        <pre id="buffer121283359">/Users/ccorwin/demuxe-electron</pre>
        <pre id="buffer867370156">export NVM_DIR="$HOME/.nvm"</pre>
        <pre id="buffer601910632">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer937182505">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer12999232">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer287439542">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer426030296">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer237992178">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer815183937">v12.16.1</pre>
        <pre id="buffer741082467">audited 964 packages in 7.976s</pre>
        <pre id="buffer884245699"></pre>
        <pre id="buffer382630615">20 packages are looking for funding</pre>
        <pre id="buffer349681478">  run `npm fund` for details</pre>
        <pre id="buffer65053720"></pre>
        <pre id="buffer396234174">found 47 vulnerabilities (31 low, 3 moderate, 13 high)</pre>
        <pre id="buffer405216463">  run `npm audit fix` to fix them, or `npm audit` for details</pre>
        <pre id="buffer998052188">ccorwin</pre>
        <pre id="buffer121283359">/Users/ccorwin/demuxe-electron</pre>
        <pre id="buffer867370156">export NVM_DIR="$HOME/.nvm"</pre>
        <pre id="buffer601910632">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer937182505">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer12999232">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer287439542">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer426030296">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer237992178">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer815183937">v12.16.1</pre>
        <pre id="buffer741082467">audited 964 packages in 7.976s</pre>
        <pre id="buffer884245699"></pre>
        <pre id="buffer382630615">20 packages are looking for funding</pre>
        <pre id="buffer349681478">  run `npm fund` for details</pre>
        <pre id="buffer65053720"></pre>
        <pre id="buffer396234174">found 47 vulnerabilities (31 low, 3 moderate, 13 high)</pre>
        <pre id="buffer405216463">  run `npm audit fix` to fix them, or `npm audit` for details</pre>
        <pre id="buffer998052188">ccorwin</pre>
        <pre id="buffer121283359">/Users/ccorwin/demuxe-electron</pre>
        <pre id="buffer867370156">export NVM_DIR="$HOME/.nvm"</pre>
        <pre id="buffer601910632">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer937182505">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer12999232">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer287439542">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer426030296">[ -s "$NVM_DIR/nvm.sh" ] &amp;&amp; . "$NVM_DIR/nvm.sh"  # This loads nvm</pre>
        <pre id="buffer237992178">[ -s "$NVM_DIR/bash_completion" ] &amp;&amp; . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion</pre>
        <pre id="buffer815183937">v12.16.1</pre>
        <pre id="buffer741082467">audited 964 packages in 7.976s</pre>
        <pre id="buffer884245699"></pre>
        <pre id="buffer382630615">20 packages are looking for funding</pre>
        <pre id="buffer349681478">  run `npm fund` for details</pre>
        <pre id="buffer65053720"></pre>
        <pre id="buffer396234174">found 47 vulnerabilities (31 low, 3 moderate, 13 high)</pre>
        <pre id="buffer405216463">  run `npm audit fix` to fix them, or `npm audit` for details</pre>

    </div>
</div>
