.demxue-app-badge-group {
  transform: translate(20px, -16px) ;

  .slds-badge {
    box-shadow: 0px 1px 3px #00000059;
  }
}

.slds-theme_deployed, .slds-theme--deployed {
  color: white;
  background-color: #775C9C;
}
