<!--
  This example leverages Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
	It is entirely optional. Feel free to use normal HTML instead!
-->
<!--
  Extend the global template
-->
{% extends "_template-demuxe-app.html" %}
<!--
  Page content (gets injected into the template)
-->
{% block content %}
<div class="slds-page-header slds-m-vertical--medium">
	<div class="slds-page-header__row">
		<div class="slds-page-header__col-title">
			<div class="slds-media">
				<div class="slds-media__figure">
					<span class="slds-icon_container slds-icon-standard-opportunity">
						<svg class="slds-icon slds-page-header__icon" aria-hidden="true">
							<use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
						</svg>
					</span>
				</div>
				<div class="slds-media__body">
					<div class="slds-grid">
						<div class="slds-page-header__name">
							<div class="slds-page-header__name-title">
								<h1>
									<span class="slds-page-header__title slds-truncate" title="Server Center">Server Center</span>
								</h1>
							</div>
						</div>
						<div class="divider"></div>
						<div class="slds-col">
							<span id="statusBadge" class="slds-badge">Badge Label</span>
						</div>
						<div id="serverToggle" class="slds-form-element slds-col_bump-right" style="align-self: baseline">
							<label class="slds-checkbox_toggle slds-grid">
								<span class="slds-form-element__label slds-m-bottom_none">Run Server</span>
								<input type="checkbox" name="checkbox-toggle-16" value="checkbox-toggle-16" aria-describedby="checkbox-toggle-16" />
								<span id="checkbox-toggle-16" class="slds-checkbox_faux_container" aria-live="assertive">
									<span class="slds-checkbox_faux"></span>
									<span class="slds-checkbox_on">Run</span>
									<span class="slds-checkbox_off">Stop</span>
								</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
  Using the grid to make a 2-column layout
  https://www.lightningdesignsystem.com/components/utilities/grid/
-->
<div class="slds-grid slds-gutters_direct slds-wrap stretch-children">
	<div class="slds-col slds-size_1-of-3 slds-m-top_large">
		{% include "_includes/magick-flows-card.html" %}
	</div>
	<div class="slds-col slds-size_1-of-3 slds-m-top_large">
		{% include "_includes/magick-flows-card.html" %}
	</div>
	<div class="slds-col slds-size_1-of-3 slds-m-top_large">
		{% include "_includes/magick-flows-card.html" %}
	</div>
	<div class="slds-col slds-size_1-of-3 slds-m-top_large">
		{% include "_includes/magick-flows-card.html" %}
	</div>
	<a class="slds-col slds-size_1-of-3 slds-m-top_large" href="#new-magick-flow">
		<article class="slds-card slds-box_link slds-align_absolute-center">
			<div class="slds-card__body slds-card__body_inner ">
				<img src="/assets/empty-state-small.png">
			</div>
		</article>
	</a>
</div>
{% include "_includes/docked-utility-panel.html" %}
{% include "_includes/server-log-panel.html" %}
{% include "_includes/debug-log-panel.html" %}
{% include "_includes/error-log-panel.html" %}
{% endblock %}